<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <section class="container">
        <main class="content">

            <h1>What'z Happn</h1>

            <div class="text">
                <p>See whatz happenin in your city! </p>
                <p> Its easy, just click the search button and we will use your current location to pull in the latest tweets, weather and news stories closest to you. </p>
            </div>

            <div id="button">
                <a href="#" class="btn">Search</a>
            </div>

            <div>
                <img class="map" src="http://i.kinja-img.com/gawker-media/image/upload/s--b1nJKryd--/17hvkvz8kf7mcpng.png">
            </div>

            <div id="trademark">
                <p> Created by Rose &amp; Wallace 2015 </p>
            </div>
            <!-- end .content -->
        </main>
        <!-- end .container -->
    </section>
</body>
</html>


