body {
	background-color: transparent;
	margin: 0;
	padding: 0;
   background: url("../images/bokeh_lights.jpg") no-repeat center center fixed;
}

.header {
    position: relative;
    width: 100%;
	height: 800px;
	min-width: 440px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 30px 0px 0px 0px;
}

.whlogo {
    position: absolute;
    top: 10px;
    left: 170px;
    width: 200px;
    -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
}

h1 {
	text-align:center;
    padding-left: 20px;
	font-family: 'Frijole', cursive;
	font-size: 40px;
	color: white;
	letter-spacing: 8px;
	text-transform: uppercase;
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInDown { 
    0% { 
        opacity: 0; 
        transform: translateY(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInDown { 
    -webkit-animation-name: fadeInDown; 
    animation-name: fadeInDown; 
}

/*text container settings*/
.textContainer {
    padding: 80px 5px 5px 5px;
    height: 440px;
    margin: 10px 20px;
    opacity: 0.9;
    background-color: black;

}

/*text font settings*/
.text {
	width: 350px;
	padding-left: 80px;
    padding-top: 0px;
    text-align: right;
	font-family: 'Frijole', cursive;
	font-size: 16px;
	line-height: 26px;
	color: #FFF;
    letter-spacing: 2px;
     -webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 

@-webkit-keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInLeft { 
    -webkit-animation-name: fadeInLeft; 
    animation-name: fadeInLeft; 
}

/*line settings*/
#line {
    position: absolute;
    top: 260px;
    left: 510px;
    height: 350px

}

/*google map image settings*/
#googlemap {
    width: 750px;
    height: 400px;
}

/*google map div settings*/
.map {
	width: 500px;
	height: 400px;
	float: left;
	position: absolute;
	top: 225px;
	right: 350px;
    -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 
@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 
.fadeInRight { 
    -webkit-animation-name: fadeInRight; 
    animation-name: fadeInRight; 
}


/*Rose and Wallace*/
.signature {
    font-family: 'Sarina', cursive;
    color: white;
    font-size: 20px;
    text-align: right;
    padding-right: 100px;
     -webkit-animation-duration: 3s; 
    animation-duration: 3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 
@-webkit-keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateX(0); 
    } 
} 
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
} 

/*Weather Section styles*/


#WeatherContent {
    opacity: 0.95;
    height: 830px;
    padding-top: 80px;
}

/*monopoly card settings*/
.whTile {
	border: thick #000;
	border-style: double;
	padding: 5px 5px 0px 5px;
	width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: 80px;
    background-color: #FFF;
   -webkit-animation-duration: 3.0s; 
    animation-duration: 3.0s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
    border-radius: 7px;
    -webkit-box-reflect: below 6px 
		-webkit-gradient(linear, 
			left top, 
			left bottom, 
			from(transparent),
			color-stop(.8, transparent),
			to(rgba(255,255,255,.5)));
}

.whTile:hover {
    color: black;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
background: rgb(242,246,248); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(242,246,248,1)), color-stop(50%,rgba(216,225,231,1)), color-stop(51%,rgba(181,198,208,1)), color-stop(100%,rgba(224,239,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* IE10+ */
background: linear-gradient(135deg,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

.TileHeader {
	border: thin #000;
	padding-top: 0px;
	border-style: groove;
    height: 100px;
}


/*Monopoly card color headers*/
.TileHeaderBlue {
    background-color: blue;
    border-radius: 7px;
}

.TileHeaderGreen {
    background-color: green;
    border-radius: 7px;
}

.TileHeaderRed {

    background-color: red;
    border-radius: 7px;
}

.border3 {
	border: thin #000;
	border-style: groove;
    border-radius: 7px;
}

.Icon {
	position: relative;
    bottom: 30px;
    left: 110px;
   
}

.HeaderIcon {
    width: 128px;
    height: 128px;

}

.center {
	text-align: center;
    font-family: 'Piedra', cursive;
    font-size: 19px;
}



